
<%= notice %>

<div>
	<h1>勤怠システム</h1>
</div>

<div>
	<%= form_for @timecard,url:stanps_path do |f| %>
		<%= f.select :attendance, {'出勤':1,'退勤':0},{ include_blank: '選択してください'} %>
		<%= f.submit "記録", class:"btn btn-primary"%>
	<% end %>
</div>

<br><br>

<div calss = "test1">
    <% @timecards.each do |f| %>
		<%= f.created_at %><br>
    <% end %>
</div>

<div calss = "test0">
    <% @timecard0s.each do |f| %>
	    <%= f.created_at %><br>
    <% end %>
</div>